Lab-06
Neha Palsokar

In [1]:
import pandas as pd
import numpy as np

1 Data

In [3]:
#Load the data:

house_votes=pd.read_csv('house-votes-84.csv.bz2',header=None)
house_votes.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [4]:
house_votes.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
count,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435
unique,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
top,democrat,n,y,y,n,y,y,y,y,y,y,n,n,y,y,n,y
freq,267,236,195,253,247,212,272,239,242,207,216,264,233,209,248,233,269

In [5]:
for i in range(1,17):
    print(house_votes[i].value_counts())

n    236
y    187
?     12
Name: 1, dtype: int64
y    195
n    192
?     48
Name: 2, dtype: int64
y    253
n    171
?     11
Name: 3, dtype: int64
n    247
y    177
?     11
Name: 4, dtype: int64
y    212
n    208
?     15
Name: 5, dtype: int64
y    272
n    152
?     11
Name: 6, dtype: int64
y    239
n    182
?     14
Name: 7, dtype: int64
y    242
n    178
?     15
Name: 8, dtype: int64
y    207
n    206
?     22
Name: 9, dtype: int64
y    216
n    212
?      7
Name: 10, dtype: int64
n    264
y    150
?     21
Name: 11, dtype: int64
n    233
y    171
?     31
Name: 12, dtype: int64
y    209
n    201
?     25
Name: 13, dtype: int64
y    248
n    170
?     17
Name: 14, dtype: int64
n    233
y    174
?     28
Name: 15, dtype: int64
y    269
?    104
n     62
Name: 16, dtype: int64

In [6]:
split=(house_votes[0].value_counts())
split

democrat      267
republican    168
Name: 0, dtype: int64

In [11]:
split.mean()
total=split['democrat']+split['republican']
total

435

In [12]:
percentage_demo=(split['democrat']/total)*100
percentage_rep=(split['republican']/total)*100
percentage_demo

61.37931034482759

In [14]:
yes=house_votes.loc[house_votes[1] == "y"]
no=house_votes.loc[house_votes[1] == "n"]

In [15]:
#in yes
x=pd.value_counts(yes[0])
print("yes count",x)

t_y=x['democrat']+x['republican']

p_d_y1=(x['democrat']/t_y)*100
p_r_n1=(x['republican']/t_y)*100
print("For yes % of democrats:",p_d_y1)
print("Foe yes % of republicans",p_r_n1)

y=pd.value_counts(no[0])
y['democrat']
y['republican']
t_n=y['democrat']+y['republican']
p_d_n=(y['democrat']/t_n)*100
p_r_n=(y['republican']/t_n)*100
print("For no % of democrats:",p_d_n)
print("For no % of republicans",p_r_n)

yes count democrat      156
republican     31
Name: 0, dtype: int64
For yes % of democrats: 83.42245989304813
Foe yes % of republicans 16.577540106951872
For no % of democrats: 43.22033898305085
For no % of republicans 56.779661016949156

2 Which variable gives the best branch

In [16]:
#Entropy for both groups:
from math import log2

p_d_y1=p_d_y1/100
p_r_n1=p_r_n1/100
p_d_n=p_d_n/100
p_r_n=p_r_n/100

entropy_yes2=(-(p_d_y1*log2(p_d_y1))-(p_r_n1*log2(p_r_n1)))


print("Entropy yes:",entropy_yes2)

entropy_no=(-(p_d_n*log2(p_d_n))-(p_r_n*log2(p_r_n)))
print("Entropy no:",entropy_no)

Entropy yes: 0.647948835478525
Entropy no: 0.9866967086735613

In [17]:
#Weighted entropy:

yes_weight=(-(p_d_y1*log2(p_d_y1))*(156/187)-((p_r_n1*log2(p_r_n1))*(31/187)))
print("yes weighted:",yes_weight)

no_weight=(-(p_d_n*log2(p_d_n))*(134/236)-((p_r_n*log2(p_r_n))*(102/236)))
print("no weighted:",no_weight)

yes weighted: 0.2532316651681227
no weighted: 0.4973770785713886

In [18]:
#For all features:
def rep_demo(house_votes):
    dictionary = {}
    for i in range(1,17):
        Yes = house_votes[house_votes[i]=='y']
        No = house_votes[house_votes[i]=='n']
        
        yes = Yes.shape[0]
        no = No.shape[0]
        
        Yes_demo = (Yes[0].value_counts().to_frame().reset_index()[0].iloc[0])/yes
        Yes_republic = (Yes[0].value_counts().to_frame().reset_index()[0].iloc[1])/yes
        
        No_demo = (No[0].value_counts().to_frame().reset_index()[0].iloc[0])/no
        No_republic = (No[0].value_counts().to_frame().reset_index()[0].iloc[1])/no
        
        entropy_yes = -(Yes_demo*np.log2(Yes_demo) + Yes_republic*np.log2(Yes_republic))
        entropy_no = -(No_demo*np.log2(No_demo) + No_republic*np.log2(No_republic))

        Final_entropy = (entropy_yes*yes + entropy_no*no)/(house_votes.shape[0] - house_votes[house_votes[i]=='?'].shape[0])
        dictionary[i] = Final_entropy
    return dictionary

rep_demo(house_votes)

{1: 0.8369429207599165,
 2: 0.9597246290117215,
 3: 0.5192054019756008,
 4: 0.20611069684434918,
 5: 0.5333550427760921,
 6: 0.8184728944688933,
 7: 0.7572889383940947,
 8: 0.6144195668030937,
 9: 0.6558589844994812,
 10: 0.9567682067352358,
 11: 0.8484111687456118,
 12: 0.5578936512136129,
 13: 0.7200897306908763,
 14: 0.6127739303645243,
 15: 0.7251662719007257,
 16: 0.8967495583804945}

In [ ]:
#Smallest entropy is for feature 4= 0.20611069684434918