INFX574 lab 2

Name:Neha Palsokar

collaborators: Sayali Chakradeo, Harkar Singh

In [2]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

import sklearn.linear_model as lm
import statsmodels.formula.api as smf

import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
#Q1
titanic = pd.read_csv('titanic.csv.bz2')

In [14]:
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [56]:
#Q2
mod=smf.ols(formula='survived ~ pclass + sex',data=titanic)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.341
Model:                            OLS   Adj. R-squared:                  0.340
Method:                 Least Squares   F-statistic:                     338.3
Date:                Wed, 11 Apr 2018   Prob (F-statistic):          4.09e-119
Time:                        22:46:25   Log-Likelihood:                -639.31
No. Observations:                1309   AIC:                             1285.
Df Residuals:                    1306   BIC:                             1300.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       1.0405      0.034     30.888      0.000       0.974       1.107
sex[T.male]    -0.5048      0.023    -21.978      0.000      -0.550      -0.460
pclass         -0.1453      0.013    -11.066      0.000      -0.171      -0.120
==============================================================================
Omnibus:                       60.521   Durbin-Watson:                   1.760
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               68.392
Skew:                           0.560   Prob(JB):                     1.41e-15
Kurtosis:                       2.963   Cond. No.                         9.01
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [57]:
#Q3: Predict the survival:
yhat=res.predict()
print(min(yhat))
print(max(yhat))

0.09980047253427904
0.8952274211186283

In [49]:
#Q4
mod2=smf.ols(formula='survived ~ C(pclass) + sex',data=titanic)
res2 = mod2.fit()
print(res2.summary())

yhat2=res2.predict()
#min and max values:
print(min(yhat2))
print(max(yhat2))
#values are not equal to 0 or 1

                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.341
Model:                            OLS   Adj. R-squared:                  0.340
Method:                 Least Squares   F-statistic:                     225.5
Date:                Wed, 11 Apr 2018   Prob (F-statistic):          7.79e-118
Time:                        22:02:24   Log-Likelihood:                -639.22
No. Observations:                1309   AIC:                             1286.
Df Residuals:                    1305   BIC:                             1307.
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.8990      0.025     35.398      0.000       0.849       0.949
C(pclass)[T.2]    -0.1577      0.032     -4.872      0.000      -0.221      -0.094
C(pclass)[T.3]    -0.2926      0.027    -10.957      0.000      -0.345      -0.240
sex[T.male]       -0.5049      0.023    -21.974      0.000      -0.550      -0.460
==============================================================================
Omnibus:                       60.055   Durbin-Watson:                   1.760
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               67.798
Skew:                           0.557   Prob(JB):                     1.90e-15
Kurtosis:                       2.961   Cond. No.                         5.25
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
0.10147811470358525
0.8989839322447709

In [53]:
#Q5 and Q6:

survived=titanic[(titanic.survived==1)]
actual_survival_rate=len(survived)/len(titanic)
print(actual_survival_rate)
#predicted survival rate:
print(np.mean(yhat>0.5))
#accuracy
print(np.mean(titanic.survived==(yhat>0.5)))

0.3819709702062643
0.3559969442322384
0.7799847211611918

In [54]:
#Q7
mod1=smf.ols(formula='survived ~ C(pclass)*sex',data=titanic)
res1 = mod1.fit()
print(res1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.370
Model:                            OLS   Adj. R-squared:                  0.368
Method:                 Least Squares   F-statistic:                     153.2
Date:                Wed, 11 Apr 2018   Prob (F-statistic):          4.02e-128
Time:                        22:45:16   Log-Likelihood:                -609.86
No. Observations:                1309   AIC:                             1232.
Df Residuals:                    1303   BIC:                             1263.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                      0.9653      0.032     29.974      0.000       0.902       1.028
C(pclass)[T.2]                -0.0785      0.049     -1.587      0.113      -0.176       0.019
C(pclass)[T.3]                -0.4745      0.042    -11.414      0.000      -0.556      -0.393
sex[T.male]                   -0.6245      0.043    -14.436      0.000      -0.709      -0.540
C(pclass)[T.2]:sex[T.male]    -0.1161      0.064     -1.801      0.072      -0.243       0.010
C(pclass)[T.3]:sex[T.male]     0.2859      0.054      5.340      0.000       0.181       0.391
==============================================================================
Omnibus:                      113.251   Durbin-Watson:                   1.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              142.526
Skew:                           0.805   Prob(JB):                     1.12e-31
Kurtosis:                       3.136   Cond. No.                         13.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#Q8

Suvived Male and class 3 : Intercept + C(sex)[T.male] + C(pclass)[T.3] + C(pclass)[T.3]:C(sex)[T.male]
                           =0.9653 -0.6245 -0.4745 +0.2859=0.1522
                 
Suvived Female and class 3: Intercept + C(pclass)[T.3]
                            =0.9653-0.4745=0.4908
                 
Suvived Female and class 1:Intercept
                           =0.9653

In [55]:
#Q9
yhat1=res1.predict()
print(min(yhat1))
print(max(yhat1))

0.14619883040935766
0.9652777777777782

In [52]:
#predicted survival rate:
print(np.mean(yhat1>0.5))
#accuracy
print(np.mean(titanic.survived==(yhat1>0.5)))

0.19098548510313215
0.7830404889228418

#Q9
Old accuracy :0.7799847211611918
New accuracy :0.7830404889228418
    
Improvement in accuracy is 0.003 which shows that the effect of gender variable is very less